<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">UsuarioApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!isAuthenticated">
            <a class="nav-link active" aria-current="page" routerLink="cadastrar-usuario">Cadastrar usuario</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link active" aria-current="page" routerLink="perfil">Perfil</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link active" aria-current="page" routerLink="editar-usuario">Alterar dados</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link active" aria-current="page" routerLink="atualizar-senha">Alterar Senha</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link active" aria-current="page" routerLink="atualizar-email">Alterar Email</a>
          </li>
          <li class="nav-item" *ngIf="!isAuthenticated">
            <a class="nav-link" routerLink="login">Login</a>
          </li>  
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link" (click)="logout()" routerLink="Sair">Sair</a>
          </li>          
        </ul>
      </div>
    </div>
</nav>

