<div class="m-3">
    <h5>Atualização de Email</h5>
    <p>Informe o novo email para atualização.</p>
    <hr />
  
    <div class="mb-2 text-success">
      <strong>{{ mensagem_sucesso }}</strong>
    </div>
  
    <div class="mb-2 text-danger">
      <strong>{{ mensagem_erro }}</strong>
    </div>
  
    <form [formGroup]="formAlterarEmail" (ngSubmit)="onSubmit()">
  
      <div class="row mb-2">
        <div class="col-md-4">
          <label for="nome">Email:</label>
          <input id="nome" class="form-control" type="text" formControlName="email">                            
        </div>
        <div class="col-md-4">
          <label for="sobrenome">Nova Email:</label>
          <input id="sobrenome" class="form-control" type="text" formControlName="novoEmail">                            
        </div>                      
        <div class="row mb-2 mt-2">
            <div class="col">
            <input type="submit" class="btn btn-primary" value="Salvar Alterações"/>
        </div>
        </div>
      </div>
    </form>
  </div>